<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--引入公共内容-->
	<span th:replace="/pages/common :: css('角色列表页面')"></span>
	<span th:replace="/pages/common :: js"></span>
	<script type="text/javascript">
			$(function () {
				var columnArr=[ [
                    {field:'id',title:'编号',width:100},
                    {field:'name',title:'名称',width:200},
                    {field:'keyword',title:'关键字',width:100},
                    {field:'description',title:'描述',width:300}
				] ];

				var toolbar=[
					{
					    id:'button-add',
						text:'添加角色',
						iconCls:'icon-add',
						handler:function () {
					        location.href="/pages/system/role_add";
                        }
					}
				];

				var options={
				    "columns":columnArr,
					"url":"/role",
					"toolbar":toolbar,
					"method":"get",
                    "pagination" : true ,
                    "rownumbers" : true ,
                    "pageSize" : 2 ,
                    "pageList" : [2,10,20] ,
				};
				$("#grid").datagrid(options);
            });
		</script>
	</head>

	<body class="easyui-layout">
		<div data-options="region:'center'">
			<table id="grid"></table>
		</div>
	</body>

</html>