<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共内容-->
    <span th:replace="/pages/common :: css('BOS管理系统 首页')"></span>
    <span th:replace="/pages/common :: js"></span>

    <script type="text/javascript">

        $(function () {
            $("#bid").click(function () {
                $("#win").window("open");
                return false;
            });
        });

    </script>
</head>
<body>
<input id="bid" type="button" value="打开" />
<div id="win" class="easyui-window" title="My Window" style="width:600px;height:400px"
     data-options="iconCls:'icon-save',modal:true,closed:true">
    我是弹出框
</div>
</body>
</html>